.a
{
    background-color: green;
    color: white;
    margin-left: 8%;
}
.z
{
    padding-top: 7%;
    padding-left: 35%;
    padding-right: 35%;
}
.y
{
    padding-top: 10%;
    padding-left: 25%;
    padding-bottom: 8%;
}