<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="z">
        <mat-card class="y">
            <div class="x">
                <form [formGroup]="form">
                    <mat-form-field class="example-full-width">
                        <mat-label>ACCOUNT NUMBER</mat-label>
                        <input type="text" matInput formControlName="receiver">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>AMOUNT</mat-label>
                        <input type="text" matInput formControlName="amount">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button (click)="transfar()" class="a">TRANSFAR</button>
                </form>
            </div>
        </mat-card>
   </div>
</body>
</html>