<div *ngIf="showSearch">
    <div class="z">
        <mat-card class="y">
            <div class="x">
                <form [formGroup]="form1">
                    <mat-form-field class="example-full-width fm">
                        <mat-label>USERNAME</mat-label>
                        <input type="text" matInput formControlName="userName">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button (click)="enter()" class="a" color="primary">FIND ACCOUNT</button>
                </form>
            </div>
        </mat-card>
    </div>
</div>
<div *ngIf="!showSearch && showOtp">
    <div class="z">
        <mat-card class="y">
            <div class="x">
                <form [formGroup]="form4">
                    <mat-form-field class="example-full-width fm">
                        <mat-label>OTP</mat-label>
                        <input type="text" matInput formControlName="formotp">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button (click)="conformOtp()" class="a" color="primary">CONFORM</button>
                </form>
            </div>
        </mat-card>
    </div>
</div>
<div *ngIf="!showSearch && !showOtp">
    <div class="z">
        <mat-card class="y">
            <div class="x">
                <form [formGroup]="form3">
                    <mat-form-field>
                        <mat-label>PASSWORD</mat-label>
                        <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>CONFORM PASSWORD</mat-label>
                        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="conformPassword">
                        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button (click)="savePassword()" class="a" color="primary">SAVE PASSWORD</button>
                </form>
            </div>
        </mat-card>
    </div>
</div>