.a
{
    margin-left: 10%;
    margin-top: -2%;
    margin-bottom: 4%;
}
.z
{
    margin-top: 10%;
    margin-left: 35%;
    margin-right:35%;
}
.y
{
    background-color:#989898;
}
.x
{
    padding-top: 7%;
    padding-left: 20%;
}
.fm
{
    margin-left: 10%;
}