.x
{
    padding-top: 10%;
    padding-left:25%;
    padding-right: 25%;
}
.y
{
    background-color: black;
    color: white;
}
.z
{
    font-size: xx-large;
    font-weight: bold;
    padding-top: 7%;
    text-align: center;
}
.c
{
    color: rgb(249, 254, 249);
    font-weight: bold;
}
span{
    font-size: 40px;
    font-family:fantasy;
    color: white;
    animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}