.a
{
    background-color:green;
    color: white;
    margin-left: 3%;
    margin-top: -2%;
}
.z
{
    margin-top: 10%;
    margin-left: 35%;
    margin-right:30%;
}
.y
{
    background-color:#989898;
}
.x
{
    padding-top: 7%;
    padding-left: 20%;
}
.i
{

    margin-top: 3%;
    margin-left: 30%;
    margin-right:30%;
}
.r
{
    padding-left: 3%;
}
.j
{
    padding-top: 4%;
    padding-left:15%;
}
.check{
    margin-left:35%;
}

.b
{
    background-color:green;
    color: white;
    margin-left:24%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
}