<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="x">
        <span class="a">404&nbsp;</span>
        <span class="b">USER NOT FOUND</span>
        <div class="y">
            <a routerLink="login" mat-raised-button class="c" (click)="login()">LOGIN</a>
            <a routerLink="registration" mat-raised-button class="d" (click)="registar()">CREATE NEW</a>
        </div>
    </div>   
</body>
</html>