.a
{
    background-color:green;
    color: white;
    margin-left: 3%;
    margin-top: -2%;
}
.z
{
    margin-top: 10%;
    margin-left: 35%;
    margin-right:30%;
}
.y
{
    background-color:#989898;
}
.x
{
    padding-top: 7%;
    padding-left: 20%;
}
.l
{
    margin-left: 3%;
}
.i
{
    padding: 10%;
}
.j
{
    background-color: #383838;
}
.k
{
    padding-top: 2%;
    padding-left: 25%;
}